body {
  font-family: "tiny5", sans-serif;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  display: contents;
  font-size: clamp(1rem, 3vw, 2.5rem);
  margin-bottom: 10px;
}

p {
  font-size: clamp(1rem, 4vw, 1.7rem)
}

button {
  padding: 10px 20px;
  font-family: "tiny5", sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 1.7rem);
  color: #fff;
  background-color: #333;
  border: 3px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}