#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    min-width: fit-content;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    width: 70%;
    height: 700px;
    gap: 70px;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 10px;
}

#jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid white;
    border-radius: 10px;
}

#opcoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border: 3px solid white;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
}