#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    min-width: fit-content;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 95%;
  padding: 10px;
  margin: 0 auto;
}

#dados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 20px;
}

#coracoes {
    display: flex;
    width: auto;
    min-width: fit-content;
    gap: 5px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
}

.coracao {
    width: clamp(2rem, 5vw, 2.5rem);
    height: clamp(2rem, 5vw, 2.5rem);
}

#pontos {
    display: flex;
    justify-content: center;
    width: 12%;
    min-width: fit-content;
    margin-bottom: 20px;
    border: 3px solid white;
    border-radius: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#questao {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 80%;
    min-width: fit-content;
    margin-bottom: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

#questao p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: clamp(2rem, 5vw, 2.5rem);
}

#alternativas {
    display: flex;
    justify-content: center;
    width: 60%;
    min-width: fit-content;
    margin-top: 15px;
    padding: 15px;
    gap: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

#mensagem {
    padding: 10px;
}

#mensagem p {
    display: contents;
    font-size: clamp(2rem, 4vw, 2.5rem);
}

#vencer-jogo, #pontuacao-perfeita {
    display: flex;
    flex-direction: column;
    font-size: clamp(2rem, 8vw, 5rem);
    text-align: center;
    margin-bottom: 50px;
}

#vencer-jogo {
    gap: 15px;
}

#pontuacao-perfeita {
    margin-bottom: 0;
    color: gold;
}

#timer, #jogador, #pontuacao, #pontuacao-final {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: fit-content;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

#jogador p, #pontuacao p, #pontuacao-final p {
    margin-top: 0;
    margin-bottom: 0;
}

#jogador {
    padding: 15px;
}

#pontuacao, #pontuacao-final {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#pontuacao {
    padding: 10px;
    gap: 10px;
}

#pontuacao-final {
    padding: 20px;
    gap: 25px;
}

#timer {
    width: 5%;
    padding: 20px;
}

#timer p {
    display: contents;
}

#resultado {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}

#resultado h1 {
    font-size: clamp(5rem, 10vw, 6rem);
}

#pontuacao-final p {
    display: block;
    flex-direction: column;
    font-size: clamp(2rem, 3vw, 2.5rem);
}